layout {
  tab_template name="env_tab" {
    pane size=1 borderless=true {
      plugin location="zellij:tab-bar"
    }
    pane split_direction="Horizontal" {
      children
    }
    pane size=2 borderless=true {
      plugin location="zellij:status-bar"
    }
  }
}
